*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header{
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid lightgray;
    padding: 20px 20px 0px 20px;
}

img{
    width: 250px;
    padding-bottom: 20px;
}

header ul{
    display: flex;
    gap: 40px;
}

header ul li{
    list-style: none;
    font-weight: 500;
    color: rgb(110, 110, 110);
}

header ul li:last-child{
    color: #6088df;
    border-bottom: 3px solid #6088df;
    padding-bottom: 20px;
}

.container{
    width: 65%;
    margin: 0px auto;
}

main{
    padding-bottom: 60px;
}

h1{
    margin-top: 60px;
    margin-bottom: 25px;
    font-size: 25px;
    font-weight: 600;
    line-height: 35px;
}

h3{
    margin-top: 60px;
    margin-bottom: 25px;
    font-weight: 600;
}

p{
    font-size: 15px;
    line-height: 25px;
}

ol{
    font-size: 15px;
    line-height: 25px;
    padding-left: 18px;
    margin: 20px 0px;
}

ol li{
    padding-left: 15px;
    margin: 10px 0px;
}

footer{
    padding: 20px 0px;
    background-color: #f5f5f5;
}

#containerFooter{
    display: flex;
    justify-content: space-between;
}

footer ul{
    display: flex;
    gap: 15px;
}

footer ul li{
    font-size: 12px;
    list-style: none;
    font-weight: 500;
    color: rgb(110, 110, 110);
}

select{
    width: 200px;
}